* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#d494e9, #eaeeae);
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todo-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#taskInput {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

#addTaskBtn {
    background-color: #de21b1;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
}

#addTaskBtn:hover {
    background-color: #bb3ba1;
}

#taskList {
    list-style: none;
    padding: 0;
}

#taskList li {
    background-color: #f9f9f9;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    transition: background-color 0.3s;
}

#taskList li.complete {
    background-color: #e9ffe9;
}

.complete .tick {
    display: inline-block;
}

.tick {
    display: none;
    color: #28a745;
    margin-right: 10px;
}

button.deleteBtn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

button.deleteBtn:hover {
    background-color: #c82333;
}
